@model GMCE.Models.UserProfile

@{
    ViewBag.Title = "Login";
    Layout = null;
}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>GMCE | Log in</title>

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/plugins/fontawesome-free/css/all.min.css">
    <!-- icheck bootstrap -->
    <link rel="stylesheet" href="~/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/dist/css/adminlte.min.css">
</head>
<body class="hold-transition login-page">
    @using (Html.BeginForm("Login", "Home", FormMethod.Post))
    {



        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        @*@if (@ViewBag.Message != null)
            {
                <div style="border: 1px solid red">
                    @ViewBag.Message
                </div>
            }*@
        @*<table>
                <tr>
                    <td>@Html.LabelFor(a => a.UserName)</td>

                    <td>@Html.ValidationMessageFor(a => a.UserName)</td>
                </tr>
                <tr>
                    <td>
                        @Html.LabelFor(a => a.Password)
                    </td>
                    <td>

                    </td>
                    <td>
                        @Html.ValidationMessageFor(a => a.Password)
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <input type="submit" value="Login" />
                    </td>
                    <td></td>
                </tr>
            </table>*@
        <div class="login-box">
            <div class="login-logo">
                <a><b>GMCE</b></a>
            </div>
            <div class="card">
                <div class="card-body login-card-body">
                    <p class="login-box-msg">Sign in to start your session</p>

                    <form method="post">
                        <div class="input-group mb-3">
                            @Html.TextBoxFor(a => a.UserName, new { placeholder = "User Name", @class = "form-control" })
                            @*<input type="text" class="form-control" placeholder="User Name">*@
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <span class="fas fa-user"></span>
                                </div>
                            </div>
                        </div>
                        <div class="input-group mb-3">
                            @Html.PasswordFor(a => a.Password, new { placeholder = "Password", @class = "form-control", @id = "pass" })
                            @*<input type="password" class="form-control" placeholder="Password">*@
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <span class="fas fa-lock"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <!-- /.col -->
                            <div class="col-12">
                                <button type="submit" class="btn btn-primary btn-block" id="Submit">Sign In</button>
                            </div>
                            <!-- /.col -->
                        </div>
                    </form>


                    <!-- /.social-auth-links -->
                    <!-- /.login-card-body -->
                </div>
            </div>
        </div>

    }
    <script>
        $('#pass').keyup(function (e) {
            if (e.keyCode == 13) {
                $("input").prop('disabled', true);
                $('#Submit').html('Loading...');
            }
        });

        $(document).on('click', '#Submit', function () {
            $("input").prop('disabled', true);
            $('#Submit').html('Loading...');
        })

    </script>
    <script src="~/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="~/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/dist/js/adminlte.min.js"></script>

</body>


@*<!DOCTYPE html>
    <html lang="en">
    <body class="hold-transition login-page">
        <div class="login-box">
            <div class="login-logo">
                <a><b>GMCE</b></a>
            </div>
            /.login-logo
            /.login-box
            jQuery
    </body>
    </html>*@
